<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sticky Notes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/reset.css" type="text/css" rel="stylesheet">
	<link href="css/all.css" type="text/css" rel="stylesheet">
	<link href="css/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="stickyNotes.css" type="text/css" rel="stylesheet">
</head>
<body>

	<div class="header" id="header" :class="{hash: isHashtag}">
		<div class="container">
			<div class="col-md-3 col-sm-5">
				<a href="index.html">
					<h2 v-if="isHashtag">#{{isHashtag}}</h2>
					<h2 v-else>Sticky Notes</h2>
				</a>
			</div>
			<div class="col-md-6 col-md-push-3 col-sm-7">
				<div class="hold-img">
					<img v-if="isHashtag" src="img/Group 13.svg" alt="">
					<img v-else src="img/Group 10.svg" alt="">
				</div>
			</div>
		</div>
	</div>

	<div id="notes" class="notes">
		<div class="container">
			<!--Start-->
			<sticky-notes></sticky-notes>
		</div>
	</div>

	<footer>
		<div class="container">
			<span>Made With <i class="fas fa-heart"></i> In <a href="http://weblity.com">WEBLITY.COM</a></span>
		</div>
	</footer>
	
	<!--Scripts-->
	<script src="js/httpVueLoader.js" charset="utf-8"></script>
	<script src="js/vue.min.js" charset="utf-8"></script>
	<script src="js/stickyNotes.js" charset="utf-8"></script>
</body>
</html>
